SKIP_PREFLIGHT_CHECK='true'

REACT_APP_NAMESPACE='test-investing-dashboard.dexe.network'
REACT_APP_UPDATE_INTERVAL='10000'

REACT_APP_CONTRACTS_REGISTRY_ADDRESS='0x14189c6a4BFb12B224cD7F60a81E263F9f01787A'
REACT_APP_PRIVACY_POLICY_HASH='0xdcf5635e2f38018583c7faa2aebd3361ed82c67c59c6a54de06b19181a596210'
REACT_APP_MAIN_ASSET_ADDRESS='0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee'

REACT_APP_ALL_POOLS_API_URL='https://api.thegraph.com/subgraphs/name/volodymyrzolotukhin/dexe-all-pool'
REACT_APP_BASIC_POOLS_API_URL='https://api.thegraph.com/subgraphs/name/volodymyrzolotukhin/dexe-chapel-basic-pool'
REACT_APP_INVEST_POOLS_API_URL='https://api.thegraph.com/subgraphs/name/volodymyrzolotukhin/dexe-chapel-invest-pool'
REACT_APP_INVESTORS_API_URL='https://api.thegraph.com/subgraphs/name/volodymyrzolotukhin/dexe-investors'
REACT_APP_INTERACTIONS_API_URL='https://api.thegraph.com/subgraphs/name/volodymyrzolotukhin/dexe-interactions'

# DAO
REACT_APP_DAO_VALIDATORS_API_URL='https://api.thegraph.com/subgraphs/name/volodymyrzolotukhin/dexe-dao-validators'
REACT_APP_DAO_POOLS_API_URL='https://api.thegraph.com/subgraphs/name/volodymyrzolotukhin/dexe-dao-pool'
